// ---------------------------------------------------------------------------
// Imports

@import 
"susyone",
"compass/css3/font-face"
;

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds: true;

$base-spacing: 32px;

// ---------------------------------------------------------------------------
// Color

$background-color: #fff;
$text-color: #444;

$accent-main: #21759b;
$accent-dark: darken($accent-main, 5);
$accent-light: lighten($accent-main, 5);

$grey-dark: #515151;
$grey-medium: #757575;
$grey-light: #ededed;

$footer-background: $background-color;

// ---------------------------------------------------------------------------
// Typography

@include font-face("Open Sans", font-files("opensans-regular-webfont.woff2", "opensans-regular-webfont.woff", "opensans-regular-webfont.ttf", "opensans-regular-webfont.svg"), "opensans-regular-webfont.eot");
@include font-face("Open Sans", font-files("opensans-semibold-webfont.woff2", "opensans-semibold-webfont.woff", "opensans-semibold-webfont.ttf", "opensans-semibold-webfont.svg"), "opensans-semibold-webfont.eot", bold);
@include font-face("Open Sans", font-files("opensans-italic-webfont.woff2", "opensans-italic-webfont.woff", "opensans-italic-webfont.ttf", "opensans-italic-webfont.svg"), "opensans-italic-webfont.eot", normal, italic);

@include font-face("Open Sans Bold", font-files("opensans-bold-webfont.woff2", "opensans-bold-webfont.woff", "opensans-bold-webfont.ttf", "opensans-bold-webfont.svg"), "opensans-bold-webfont.eot");

$font-family-main: "Open Sans",Helvetica,Arial,sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$font-family-title: "Open Sans Bold",$font-family-main;
