@import "susy";
@import "base";
@import "compass";

/* -------------------------------------------------------------------------*/
/* Table of Contents 
-- Layout
-- General
-- Search
-- Navigation
-- Exhibits

/* -------------------------------------------------------------------------*/
/* Layout */
#admin-bar {
  text-align:right;
  & > ul {
    padding:0;
  }
}
#site-title {
  @include span-columns (7,12);
  display:table;
  max-width:500px;
    
  & > span {
    display:table-cell;
    vertical-align:middle;
  }
  
  a {
    img {
      height: 180px;
      margin-bottom:0;
    }
  }
}
#search-container {@include span-columns (5 omega, 12);}
#featured {@include span-columns (7,12);}

.secondary-nav + .pagination-nav {
  @include span-columns(6,12);
  
  .pagination {
    margin-top:0;
    margin-bottom:0;
  }
}
.pagination-nav + #sort-links {
  @include span-columns(6 omega,12);
  background-color: $grey-light;
  display:table;
  padding-top:7px;
  padding-bottom:8px;
  position:relative;
  
  .sort-label {
    display:table-cell;
    float:none;
    text-align:right;
    width:100%;
  }
  #sort-links-list {
    display:table-cell;
    text-align:right;
    white-space:nowrap;
    
    li {
      float:none;
    }
  }
  
  &:before {
    content:'';
    display:block;
    background-color:$grey-light;
    @include container;
    width:70em;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    z-index:-1;
  }
}
#recent-items {@include span-columns (5 omega, 12);}
#advanced-search-form label {@include span-columns (3,12);}
#advanced-search-form .label {@include span-columns (3,12);}
#advanced-search-form .inputs {@include span-columns (9 omega, 12);}
#advanced-search-form .field .two {@include span-columns(3,12);}
.exhibits.summary #primary {@include span-columns (8,12);}
.exhibits.summary #exhibit-pages {@include span-columns (4 omega, 12);}

/* -------------------------------------------------------------------------*/
/* General */

.image {
    float: right;
}

/* -------------------------------------------------------------------------*/
/* Search */

#search-container {
    margin: 30px 0;
    position:absolute;
    bottom:30px;
    right:0;
}
/* -------------------------------------------------------------------------*/
/* Advanced Search Form */
#advanced-search-form .field {
    .two label {
        width: 100% !important;
    }
    label, 
    .label, 
    input, 
    select, 
    button {
       margin: 1em 0;
    }
}
/* -------------------------------------------------------------------------*/
/* Navigation */

/*------------ Mega Menu Styles -----------*/
/* mega menu list */
/*** Adapted from Emiglio by Kim Nguyen ****/
/* mega menu list */
#top-nav {
  overflow:visible;
  
  .nav-menu {
    width: 100%;
    display: block;
    overflow: initial;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    float: left;
    background-color:$background-color;
    border-top:solid 1px $grey-light;
    border-bottom:solid 1px $grey-light;
    text-transform:uppercase;
    
    li {
        width: auto;
        border: none;
    }
    a {
        text-decoration: none;
        padding: .5em;
        
        &:hover, 
        &:focus {
            background-color: $accent-main;
        }
    }
/* a top level navigation item in the mega menu */
    .nav-item {
        list-style: none;
        display: block;
        float: left;
        padding: 0;
        position: relative;

    }
    .nav-item.active {
        //background-color: lighten($accent-main, 10%);
        a {
            //color: white;
        }
    }
/* first descendant link within a top level navigation item */
    .nav-item > a {
        position: relative;
        display: inline-block;
        padding: 1em;
        margin: 0;
        border: 0;
        &:hover {
            color: $grey-dark;
            background-color:rgba(255,255,255,0.20);
        }
        &:focus {
            color: $grey-dark;
        }
    }
/* focus/open states of first descendant link within a top level 
   navigation item */
    .nav-item > a:focus,
    .nav-item > a.open {
        background-color: $grey-light;
    }

/* open state of first descendant link within a top level 
   navigation item */
    .nav-item > a.open {
        border-bottom: none;
        z-index: 1;
    }
    .sub-nav {
        position: absolute;
        display: none;
        top: 3.5em;
        padding: 0;
        border: 0;
        margin: 0;
        background-color: $grey-light;
        z-index: 2;
        @include border-radius(0px 0px 3px 3px);
    }
    .sub-nav.open {
        display: block;
        min-width: 250px;
        .active {
            
            a {
                color: $grey-dark;
                &:hover {
                    color: $grey-dark;
                }
            }
        }
        ul {
            display: block;
            vertical-align: top;
            margin: 0;
            padding: 0;
            a {
                color: #fff;
                &:before {
                    content: "\2014\0020";
                }
            }
        }
        li {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            a {
                color: $grey-medium;
                padding: 0.5em 1em;
                &:hover{
                    background-color:rgba(255,255,255,0.20);
                    color: $grey-dark;
                }
                &:focus {
                    background-color: lighten($accent-light, 10%);
                    color:$grey-dark;
                }
            }
        }
    }
  }
}

#bottom-nav {
    display: block;
    overflow: auto;
    margin-bottom: 1em;
    li {
        padding-right: 20px;
        @include line-button;
        display: block;
        float: left;
        &.active {
            font-weight: bold;
        }
        ul {
            display: none;
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Exhibits */

.exhibits.summary #primary {
    .exhibit-description, 
    .exhibit-credits {
        padding-right: 1em;
    }
}
.exhibits.summary #exhibit-pages {
    padding-top: 0;
}
.exhibits.show {
    #secondary-nav.exhibit-page-nav li {
        float: left;
        margin-top: .5em;
        ul li {
            width: auto;
        }
    }
    #exhibit-page-navigation {
        #exhibit-nav-next, 
        #exhibit-nav-prev {
            width: 50%;
        }
        #exhibit-nav-up {
            clear: both;
            width: 33%;
            .current-page {
                clear: none;
            }
        }
    }
}


/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */
.item.hentry {
  position:relative;
  min-height:150px;
  
  h2,
  h3,
  .item-description,
  .tags {
    padding-left:150px;
  }
  
  .item-img{
    padding-bottom:.5em;
    height: rhythm(5);
    position:absolute;
    left:0;
    top:34px;
    
    img {
        height: 100%;
        width: auto;
    }
  }
}

.item-file img {
    max-width: 100%;
    height: auto;
}


/* -------------------------------------------------------------------------*/
/* Show */

#primary {
  @include span-columns(8,12);
}
#primary + #sidebar {
  @include span-columns(4 omega,12);
}


/* -------------------------------------------------------------------------*/
/* Footer */
#wrap > footer {
  .footer-logo {
    float: left;
    margin-bottom: 0;
  }
  
  ul {
    float: left;
    margin-left: 1em;
    margin-bottom: 0;
    
    li {
      display: inline;
      text-align: left;
    }
  }
  
  .footer-primary {
    float: right;
    
    ul.footer-social {
      float: right;
      margin-top: 0;
    }
  }
}


/* -------------------------------------------------------------------------*/
/*  */

.image {
  display:block;
  float: left;
  margin: 0 rhythm() rhythm() 0;
  height: rhythm(5);
  
  img { 
      float: left; 
      height: 100%;
      width: auto;
    }
}


/* -------------------------------------------------------------------------*/
/* Home */
#home {
  #featured-item,
  #featured-collection,
  .featured-exhibit {
    min-height:166px;
    margin-bottom:1.5em;
    
    & > h2 {
      position:absolute;
      right:-2px;
      margin:0;
    }
    
    .image {
      position:absolute;
      top:$base-spacing / 3 * 2;
      display:block;
      margin:0;
    }
    
    h3 {
      margin-left:145px;
      margin-right:80px;
    }
    
    p {
      margin-left:145px;
    }
  }

}
